/node_modules/
/systemjs.config.js/
/tsconfig.json/
/typings.json/
/main.js/
/main.js.map/
/app.component.js/
/app.component.js.map/
/app.module.js/
/app.module.js.map/
/app.routing.js/
/app.routing.js.map/
/jumbotron.component.js/
/jumbotron.component.js.map/
/navbar.component.js/
/navbar.component.js.map/
/about.component.js/
/about.component.js.map/
/home.component.js/
/home.component.js.map/